.panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.select {
    flex: 1;
    font: inherit;
    font-size: 0.9rem;
    padding: 4px;
    outline: none;
    background-color: var(--input-background-color, transparent);
    color: var(--foreground-color);

    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin: 0px;

    &:focus {
        border-color: var(--primary-color);
    }
}
